*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
   

}
.half-width{
    width:45%;
    float:left;
    margin-left: 4%;
    padding: 4%;
}
.intro{
    margin-top: 30px;
}
.rahabi{
    color:#FFB725;
}
.half-width h1{
    font-size: 50px;
}
.half-width p{
    margin-top: 20px;
    text-align: justify;
    
}
.half-width img{
    width: 100%;
}
.top_banner{
    background-image: url("img/top-banner.png") ;
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 30px;
    overflow: hidden;
   
}
.link_btn{
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    font-weight: bold;
    color:white;
    margin-top: 10px;
    padding: 5px 30px;
    background: linear-gradient(to right,#FFBF21, #FA6E5A );
}
.half-width h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.dream_big{
    background-image: url("img/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
}
.dream-intro{
    margin-left:-24px;
} 
.rahabii{
    margin-top: -34px;
}
.experience h1{
 margin-left: 110px;
 margin-bottom: 30px;
}
.single_exp{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    background-color: white;
}
#baby{
    border-left: 7px solid;
    border-image: linear-gradient(to bottom,#FFBF21, #FA6E5A);
    border-image-slice: 1;
}
#full{
    border-left: 7px solid;
    border-image: linear-gradient(to bottom, #0000ff, #5ae2fa);
    border-image-slice: 1;
}

.experience{
    background-image: url("img/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}
footer{
    text-align: center;
    margin-bottom: 30px;
}